<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.12.3/dist/cdn.min.js"></script>

   <link rel="stylesheet" href="/css/style.css">

    <title>Greetings</title>
</head>

<body class="bg-gradient-to-r from-indigo-300 via-purple-300 to-pink-300 text-lg">
    <div class="container">
        {{{body}}}
    </div>
</body>

</html>