<nav class="navigate_me flex flex-row justify-evenly">
    <a href="/" class="px-4 py-2 rounded-full border-2 border-primary text-gray-700 hover:bg-primary hover:text-white">return home</a>
    <a href="/greeted" class="px-4 py-2 rounded-full border-2 border-primary text-gray-700 hover:bg-primary hover:text-white"> see greeted names</a>
</nav>

<div class="flex flex-col justify-center items-center mt-12">
    <span>{{username}} has been greeted, <span class="text-white">{{userCount}}</span> time(s).</span>
</div>