<div class="greet_user">
    <div class="index flex flex-col justify-center items-center">
        <form action="/greetings" method="POST">
            <p class="text-purple-700 text-4xl py-6">Greet Me Widget!</p>
            <div class="">
                <label class="block text-gray-700 text-md mb-2" for="username">
                    Enter Your Name:
                </label>
                <input type="text" name="nameInput"
                    class="shadow border rounded w-full py-2 px-3 text-gray-700 focus:outline-none focus:shadow-outline mb-4">

                <div class="px-7 justify-center mb-4">
                    <label class="text-gray-700 text-md mb-2 hover:text-gray-100" for="english">english</label>
                    <input type="radio" name="language" class="langauges" value="english">
                    <label class="text-gray-700 text-md mb-2 hover:text-gray-100" for="isiXhosa">isiXhosa</label>
                    <input type="radio" name="language" class="langauges" value="isiXhosa">
                    <label class="text-gray-700 text-md mb-2 hover:text-gray-100" for="isiTsonga">swaHili</label>
                    <input type="radio" name="language" class="langauges" value="swahili">
                </div>

                <div class="grid justify-center mb-4">
                    <button
                        class="shadow bg-purple-600 hover:bg-purple-800 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded"
                        type="submit"> Greet Me! </button>
                </div>

                <div class="greet_display text-center py-4 px-4 mb-4 bg-purple-200">
                    <span>{{theGreeting}}</span>
                </div>
            </div>
            <div class="text-center text-4xl bg-gradient-to-r from-purple-300 via-pink-500 p-4 rounded">
                <span>
                    {{counter}}
                </span>
            </div>

            <div class="message_display mb-4">
                <span>{{error_messages}}</span>
            </div>
        </form>

        <div class="space-evenly">
            <button
                class="shadow bg-purple-600 hover:bg-purple-800 focus:shadow-outline focus:outline-none text-white py-2 px-2 rounded mx-2">
                <a href="/greeted" class="">Greeted Names</a>
            </button>
            <form action="/reset" method="post" style="display: inline;">
                <button type="submit"
                    class="shadow bg-blue-600 hover:bg-purple-800 focus:shadow-outline focus:outline-none text-white py-2 px-2 rounded mx-2">
                    Reset
                </button>
            </form>
        </div>
    </div>
<div>