.container{
    justify-content: center;
}

.finger{
    background-image: url(../img/press-button.png);
}

.greeted_names{
border: 0.2px solid pink;
border-radius: 0px 100px;
padding: 2px;
background-color: teal;
}

@media (max-width:320px) {
    .index{
        font-size: smaller;
    }
    .greet_user{
        justify-content: center;
    }
}
